<footer id="footer">

    <div class="footer-wrapper">
        <div class="footer-col">
            `Designer Developer` <a href="#">Behance</a>
        </div>
        <div class="footer-col">
            Seoul, Kr — 02:17
            <div class="link-wrapper">
                <a href="">Instagram,</a>
                <a href="">X,</a>
                <a href="">Linkedin,</a>
                <a href="">Email</a>
            </div>
        </div>
        <div class="slogan">"The details are not the details. They make the product."</div>
    </div>

</footer>