.about-main {
    width: 100%;
    height: 100svh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
}

.about-main .main-wrapper {
    position: absolute;
    z-index: 1;
}

.main-wrapper .about-title {
    font-family: 'boska-mediumitalic';
    font-size: 8em;
    font-weight: 100;
    line-height: .8;
    text-transform: uppercase;
    color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.about-main .desc-wrapper {}

.about-main .desc-wrapper .desc {
    font-family: 'GeneralSans-Light';
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35%;
}

.about-main .desc-wrapper .desc .desc-title {
    margin-bottom: 16px;
    font-family: 'GeneralSans-Italic';
}

.about-main .desc-wrapper .desc .left-desc {
    flex: 1;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

.about-main .desc-wrapper .desc .right-desc {
    display: flex;
    gap: 60px;
    flex: 1;
}

/* .about-main .desc-wrapper .desc .right-desc li{
    width: 120px;
} */