.about-main {
    width: 100%;
    height: 100svh;

    position: relative;
}

.about-main .main-wrapper {
    position: absolute;

    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-wrapper .about-title {
    font-family: 'PPEditorialOld-Ultralight.woff2';

    font-size: 8em;
    font-weight: 100;
    line-height: .8;
    text-transform: uppercase;
    color: #000;
}




.about-main .desc-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    max-width: 1920px;
    min-width: 1280px;
}

.about-main .desc-wrapper .desc {
    font-family: 'IBMPlexMono-Light.woff2';

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
}

.about-main .desc-wrapper .desc .desc-title {
    margin-bottom: 16px;
}

.about-main .desc-wrapper .desc li {}

.about-main .desc-wrapper .desc .right-desc {}

.about-main .desc-wrapper .desc .left-desc {
    display: flex;
    gap: 100px;
}