@font-face {
    font-family: 'ESAllianz-Extrabold.woff2';
    src: url(/assets/font/ESAllianz-Extrabold.woff2);
}

@font-face {
    font-family: 'IBMPlexMono-Light.woff2';
    src: url(/assets/font/IBMPlexMono-Light.woff2);
}

@font-face {
    font-family: 'PPEditorialOld-Ultralight.woff2';
    src: url(/assets/font/PPEditorialOld-Ultralight.woff2);
}