#header,
#footer {
    font-family: 'IBMPlexMono-Light.woff2';
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 0.625rem;
    width: 100%;
}

#header .header-wrapper {
    background-color: #a0fdd0d9;
    box-sizing: border-box;

    width: clamp(320px, 80%, 620px);

    height: 70px;
    margin: 0 auto;

    font-size: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header .header-wrapper .title {
    display: flex;
    flex-direction: column;
}

#header .header-wrapper .title a {}

#header .header-wrapper .title p {}

#header .header-wrapper .cate-list {}

#header .header-wrapper .cate-list .cate-item {}










#footer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    padding: 0.625rem;
    width: 100%;
}


#footer .footer-wrapper {
    background-color: #a0fdd0d9;
    box-sizing: border-box;
    width: clamp(320px, 80%, 620px);
    height: 70px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    /* 슬로건 포지셔닝 기준점 */
}

#footer .footer-wrapper .footer-col {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 45%;
}

#footer .footer-wrapper .slogan {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'IBMPlexMono-Light.woff2';
    font-size: 16px;
}