/* 1 main-img */
.swiper {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1.1);
    transition: 5s;
}

.swiper-slide-active img {
    transform: scale(1);
}





.content-wrapper {
    position: relative;
    z-index: 2;
    background-color: #fff;
    width: 100%;
}

.content-wrapper .content-inner {
    padding: 0 .625rem;
    margin: 0 auto;
    max-width: 1920px;
}

.content-inner .about-txt {

    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content-inner .about-txt .txt {
    font-family: 'boska-MediumItalic';

    font-size: 8em;
    font-weight: 100;
    line-height: .8;
    text-transform: uppercase;
    color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.about-txt .txt .txt1 {}

.about-txt .txt .txt2 {}

.about-txt .txt .txt3 {}

.about-txt .txt .txt4 {}





.content-inner .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    gap: 100px;
}

.content-inner .gallery .intro-img {
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

.content-inner .gallery .intro-img img {
    width: 100%;
    object-fit: cover;
}






.client-wrapper {
    padding: 15vh 0;
    width: 100%;
    height: 150svh;

    display: flex;
    align-items: center;
    justify-content: center;
    /* if list are more longer(or shorter), you change height */
}

.client-wrapper .client-area {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.client-wrapper .client-area .client-title {
    color: #C6D1FF;
    font-size: 15em;

    position: sticky;
    top: 50%;
    transform: translateY(-50%);

    font-family: 'modak';
    text-align: center;
    line-height: 1;
    word-break: keep-all;
    z-index: 10;
}

.client-wrapper .client-area .client-item {
    text-align: center;
    font-size: 7.5rem;
    line-height: .9;
    text-transform: uppercase;
    font-family: 'GeneralSans-bold';

    color: #000;
}






.last-wrapper {
    width: 100%;
    height: auto;

    overflow: hidden;
}

.last-wrapper .sc-last {
    width: 100%;
    height: 150svh;
    position: relative;
}


.last-wrapper .sc-last .round-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    /* translate는 그대로, scale은 0으로 시작 */
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;

    /* 고정 px 대신 가로 100% (부모 기준) */
    width: 100%;
    /* 높이는 자동으로 비율 유지 (이미지가 1:1이면 정사각) */
    height: auto;
}

.last-wrapper .sc-last .round-shape img {
    /* 부모(.round-shape) 크기에 맞춰서 */
    width: 100%;
    height: auto;
    object-fit: cover;
}


.last-wrapper .sc-last .last-title {
    font-family: 'boska-bolditalic';

    font-size: 8em;
    font-weight: 100;
    line-height: .8;
    text-align: center;
    text-transform: uppercase;
    color: #000;

    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 10;
}




.goto-wrapper {
    width: 100%;
    height: 100svh;
    position: relative;

    padding-bottom: 90px;

}

.goto-wrapper .sc-goto {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.goto-wrapper .goto-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goto-wrapper .goto-list .goto-item {
    font-family: 'boska-bold';
    font-size: 10em;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 0.01em;
    text-underline-offset: 0.05em;

    transition: 0.8s;
}

.goto-wrapper .goto-list .goto-item:hover {
    transition: 0.8s;
    transform: scale(0.98);
    opacity: 0.8;
}




.goto-wrapper.theme-dark {
    background: #111;
    color: #fff;
    transition: background 0.5s, color 0.5s;
}

.goto-wrapper.theme-dark a {
    color: #fff;
}